.custom-watch-later-container {
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
  z-index: 99;
}

.shortsLockupViewModelHostThumbnailParentContainer:hover .custom-watch-later-container {
  opacity: 1.0;
  pointer-events: all;
}

.custom-watch-later-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgba(40, 40, 40, 0.4);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  color: white;
  transition: background-color 0.1s ease, backdrop-filter 0.1s ease;
}

.custom-watch-later-button:hover {
  background-color: rgba(40, 40, 40, 0.6);
  backdrop-filter: blur(4px);
}

.custom-watch-later-button svg {
  width: 29px;
  height: 29px;
  fill: white;
  pointer-events: none;
  overflow: visible;
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 1.0)) !important;
}